# Add any directories, files, or patterns you don't want to be tracked by version control
nbproject/*
config.h
build/*
CMakeFiles/*
.vscode/*
build-cmake/*
src/.vscode/*
.cproject
.project
.settings/*
